<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdo5_KPTYSSgZBGNMM40WusrF8wl6gt-U</string>
	<key>GCM_SENDER_ID</key>
	<string>1094130273322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myteethpractice</string>
	<key>PROJECT_ID</key>
	<string>myteeth-c9e13</string>
	<key>STORAGE_BUCKET</key>
	<string>myteeth-c9e13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094130273322:ios:bf24c087b0591487510753</string>
</dict>
</plist>